section {
  margin: 1rem;
}
table {
  width: 100%;
  border-bottom: 3px solid var(--light-purple);
  margin-bottom: 2rem;
}

th {
  width: 20%;
  text-align: start;
}
td {
  font-size: 20px;
  color: white;
  width: 20%;
  text-shadow: 0 0 4px white;
  word-wrap: break-word;
}
thead tr {
  border: 2px solid var(--light-purple);
  border-radius: 8px;
}
tr {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

@media screen and (max-width: 550px) {
  th {
    font-size: 14px;
  }
}
