<div class="header">
  <div class="route-btns">
    <button
      class="default-btn btn-purple garage-btn"
      [routerLink]="['/garage']"
    >
      GARAGE
    </button>
    <button
      class="default-btn btn-blue winners-btn"
      [routerLink]="['/winners']"
    >
      WINNERS
    </button>
  </div>
  <div class="title">Async Race</div>
</div>

<section class="race-controls">
  <div class="race-btns">
    <button
      (click)="onStartCar(this.carsOnPage)"
      class="default-btn start-btn btn-green"
    >
      start
      <i class="bi bi-caret-right"></i>
    </button>
    <button
      class="default-btn reset-btn btn-purple"
      (click)="onStopCar(animationPlayers)"
    >
      reset<i class="bi bi-arrow-counterclockwise"></i>
    </button>
  </div>

  <form [formGroup]="garageFG" class="race-form">
    <div class="input-container">
      <input
        type="text"
        formControlName="createNameFC"
        placeholder="TYPE CAR BRAND"
        class="createFC"
      />
      <input type="color" formControlName="createColorFC" />
      <button
        (click)="onCreateCar()"
        class="default-btn createCar-btn btn-purple"
      >
        create
      </button>
    </div>
    <div class="input-container">
      <input
        type="text"
        formControlName="updateNameFC"
        placeholder="TYPE CAR COLOR"
      />
      <input type="color" formControlName="updateColorFC" />
      <button
        (click)="onUpdateCars()"
        class="default-btn updateCar-btn btn-purple"
      >
        update
      </button>
    </div>
  </form>

  <button
    (click)="onGenerateCars()"
    class="default-btn btn-green generateCars-btn"
  >
    generate
  </button>
</section>

<section class="race-track">
  <div class="icon-border">
    <ng-container *ngFor="let i of getRange(100)">
      <i
        class="bi bi-chevron-double-right fs-24"
        [class.color4]="i % 10 < 5"
        [class.color5]="i % 10 >= 5"
      ></i>
    </ng-container>
  </div>
  <div class="car-card" *ngFor="let car of getPaginatedCars()">
    <div class="button-container">
      <div class="sel-del-container">
        <button class="default-btn btn-blue" (click)="selectCar(car)">
          select
        </button>
        <button class="default-btn btn-red" (click)="onDeleteCar(car.id)">
          remove
        </button>
      </div>
      <div class="start-stop-container">
        <button (click)="onStartCar(car)" class="default-btn btn-green">
          start
        </button>
        <button (click)="onStopCar(car)" class="default-btn btn-yellow">
          stop
        </button>
      </div>
    </div>
    <div [class]="'car-data car-svg car-' + car.id">
      <svg
        version="1.1"
        id="Icons"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 32 32"
        xml:space="preserve"
        style="width: 50px"
      >
        <style type="text/css">
          .st0 {
            fill: none;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
          }
        </style>
        <circle
          [ngStyle]="{ stroke: car.color }"
          class="st0"
          cx="7"
          cy="23"
          r="3"
        />
        <circle
          [ngStyle]="{ stroke: car.color }"
          class="st0"
          cx="23"
          cy="23"
          r="3"
        />
        <line
          [ngStyle]="{ stroke: car.color }"
          class="st0"
          x1="28"
          y1="19"
          x2="30"
          y2="19"
        />
        <line
          [ngStyle]="{ stroke: car.color }"
          class="st0"
          x1="4"
          y1="16"
          x2="24"
          y2="16"
        />
        <line
          [ngStyle]="{ stroke: car.color }"
          class="st0"
          x1="13"
          y1="10"
          x2="10"
          y2="16"
        />
        <path
          [ngStyle]="{ stroke: car.color }"
          class="st0"
          d="M26,23h4c0.6,0,1-0.4,1-1v-2c0-2.2-1.8-4-4-4h-3l-3.8-4.6c-0.8-0.9-1.9-1.4-3.1-1.4H9.5c-1.5,0-2.9,0.9-3.6,2.2
       L4,16H3c-1.1,0-2,0.9-2,2v4c0,0.6,0.4,1,1,1h2"
        />
        <line
          [ngStyle]="{ stroke: car.color }"
          class="st0"
          x1="10"
          y1="23"
          x2="20"
          y2="23"
        />
      </svg>
    </div>
    <div class="lane start-lane">
      <div *ngFor="let i of getRange(13)" class="lane-small"></div>
    </div>
    <div class="text start-text">START</div>
    <div class="car-name car-data fs-24 color3">{{ car.name }}</div>
    <div class="lane finish-lane">
      <div *ngFor="let i of getRange(13)" class="lane-small"></div>
    </div>
    <div class="text finish-text">FINISH</div>
  </div>
  <div class="icon-border" style="margin-top: 1rem">
    <ng-container *ngFor="let i of getRange(100)">
      <i
        class="bi bi-chevron-double-right fs-24"
        [class.color4]="i % 10 < 5"
        [class.color5]="i % 10 >= 5"
      ></i>
    </ng-container>
  </div>
  <div class="race-footer">
    <div class="amount color1 fs24">
      garage({{ garageService.cars.length }})
    </div>
    <div class="pagination color2 fs24">
      <button (click)="currentPage = currentPage > 1 ? currentPage - 1 : 1">
        <i class="bi bi-caret-left"></i>
      </button>
      <span class="fs-24">Page #{{ currentPage }}</span>
      <button
        (click)="
          currentPage =
            currentPage < getTotalPages() ? currentPage + 1 : getTotalPages()
        "
      >
        <i class="bi bi-caret-right"></i>
      </button>
    </div>
  </div>

  <!-- } -->
</section>
