@font-face {
  font-family: "Montserrat-Regular";
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "CodyStar";
  src: url(./assets/fonts/Codystar-Regular.ttf);
}
* {
  font-family: "Montserrat-Regular", serif;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --lime-green: #43ff2a;
  --sky-blue: #5abbff;
  --light-purple: #fa33ff;
  --light-red: #ff0000;
  --light-yellow: #fffb00;
}
body {
  background-image: url(./assets/images/wall-bg.avif);
}

button {
  cursor: pointer;
}

/*  button classes */
.default-btn {
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 8px;
  padding: 0.5rem;
}

.btn-blue {
  border: 2px solid var(--sky-blue);
  color: var(--sky-blue);
  text-shadow: 0 0 1px var(--sky-blue);
}
.btn-red {
  border: 2px solid var(--light-red);
  color: var(--light-red);
  text-shadow: 0 0 1px var(--light-red);
}
.btn-green {
  border: 2px solid var(--lime-green);
  color: var(--lime-green);
  text-shadow: 0 0 1px var(--lime-green);
}
.btn-purple {
  border: 2px solid var(--light-purple);
  color: var(--light-purple);
  text-shadow: 0 0 1px var(--light-purple);
}
.btn-yellow {
  border: 2px solid var(--light-yellow);
  color: var(--light-yellow);
  text-shadow: 0 0 1px var(--light-yellow);
}
/*  buttons on hover*/

/* color classes */
.color1 {
  color: var(--lime-green);
}
.color2 {
  color: var(--light-purple);
}

.color3 {
  color: var(--sky-blue);
}
.color4 {
  color: var(--light-yellow);
}
.color5 {
  color: var(--light-red);
}
.fs-24 {
  font-size: 24px;
}
